/* Basic Settings {{{ */
html, * {
  font-family: 'Work Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

body {
  background: black;
  width: 100vw;
  height: 100vh;
  /* Arbeitshypothese: beginnt nach Address-Bar und reicht bis unter Menu-Bar */
  font-weight: 400;
  font-family: 'Work Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*overflow: hidden;*/
  /* no scroll balken */ }

main.hidden {
  display: none; }

/* End Basic Settings }}} */
/* Text Styles {{{ */
h1, h2, h3, h4, h5, h6, bold, em {
  font-weight: 700; }

h1 {
  font-size: 1.1em;
  letter-spacing: 0.3px; }

p {
  font-size: 0.8125em; }

em {
  font-style: normal; }

/* End Text Styles }}} */
/* Links {{{ */
a,
a:link,
a:active,
a:visited {
  color: white;
  text-decoration: none; }

a:focus,
a:hover {
  color: #96aaff; }

/* End Links }}} */
/* Header {{{ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 85px;
  background: black; }
  header #masthead {
    align-self: center;
    color: white;
    z-index: 100;
    text-align: center;
    padding: 0.5em 0 0.1em; }
    header #masthead svg {
      width: 158px;
      height: 33px; }
    header #masthead h1, header #masthead p.byline {
      position: absolute;
      top: -1000px; }
  header #masthead:hover svg path {
    fill: #96aaff; }
  header p#home-link-container {
    display: none; }
  header nav {
    display: none; }
  header a {
    text-decoration: none; }
  header a:link, header a:visited {
    color: white; }
  header a:hover, header a:focus {
    color: #96aaff; }
  header .simple-marquee-container.hidden {
    display: none; }

header.shrink,
body:not(#index) header {
  height: 45px; }
  header.shrink #masthead,
  body:not(#index) header #masthead {
    padding: 0.9em 0 0.1em; }
    header.shrink #masthead svg,
    body:not(#index) header #masthead svg {
      width: 126px;
      height: auto;
      position: relative;
      top: -3px; }

/* End Header }}} */
/* Footer {{{ */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  padding-top: 5px;
  z-index: 20;
  opacity: 1;
  transition: all 0.3s; }

footer.hidden {
  opacity: 0;
  transform: translateY(300px); }

body:not(#index) footer {
  padding-top: 1em; }

footer nav {
  padding-bottom: 1em; }

footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

footer nav ul li a,
footer nav ul li a:visited,
footer nav ul li a:link {
  color: white;
  text-decoration: none; }

footer nav ul li a:hover,
footer nav ul li a:focus,
footer nav ul li a:active {
  color: #96aaff; }

/* End Footer }}} */
/* Archive Projects Slider {{{ */
footer #archive {
  margin-bottom: 1em; }

footer #archive ul {
  height: 100px;
  width: 100%;
  overflow-x: hidden;
  box-sizing: content-box;
  list-style: none;
  white-space: nowrap; }

footer #archive ul li {
  margin-right: 0.25em; }

footer #archive ul li > img {
  height: 95px; }

.archive-carousel:after {
  content: ''; }

/* End Archive Projects Slider }}} */
/* Archive Project Descriptions {{{ */
ul#archive-descriptions {
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 140;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: stretch; }
  ul#archive-descriptions li.archive-project-description {
    height: 100%;
    background: black;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; }
    ul#archive-descriptions li.archive-project-description div.archive-project-description-text {
      width: 300px;
      text-align: center;
      order: 2; }
    ul#archive-descriptions li.archive-project-description img.archive-image {
      margin: 20px 0;
      width: 300px;
      height: auto; }
    ul#archive-descriptions li.archive-project-description .close-handler {
      cursor: pointer;
      height: 44px;
      width: 44px; }
    ul#archive-descriptions li.archive-project-description .close-handler > * {
      pointer-events: none; }
    ul#archive-descriptions li.archive-project-description .close {
      order: 1;
      z-index: 200;
      align-self: flex-end; }
  ul#archive-descriptions li.archive-project-description.hidden {
    display: none;
    height: 0;
    width: 0; }

ul#archive-descriptions.hidden {
  display: none; }

/* End Archive Project Descriptions }}} */
/* Home Carousel {{{ */
#customButtonLeft,
#customButtonRight {
  display: none; }

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.carousel-cell {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.flickity-page-dots {
  position: fixed;
  bottom: 160px;
  left: 0;
  background: transparent; }

.flickity-page-dots.hidden {
  display: none; }

/* Home Carousel }}}*/
/* About-Page: Layout & Slider {{{ */
body#about {
  height: auto; }
  body#about footer {
    position: fixed;
    bottom: 0px;
    left: 0px; }

.about-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch; }

.about-carousel .flickity-viewport {
  width: 100%; }

.about-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: transparent; }

.about-carousel .carousel-cell {
  height: 100%;
  width: 100%; }

.about-carousel .carousel-cell.team-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .about-carousel .carousel-cell.team-member .name {
    padding: 30px 30px 10px;
    font-size: 13px;
    line-height: 1.2;
    color: white;
    background: transparent;
    transform: translateY(-25px);
    transition: all 0.2s ease-in-out; }
  .about-carousel .carousel-cell.team-member .name.up {
    transform: translateY(-10px); }
  .about-carousel .carousel-cell.team-member .contact-data {
    position: relative;
    padding: 10px 30px 30px;
    background: black;
    color: white;
    transition: all 0.3s ease-in-out; }
  .about-carousel .carousel-cell.team-member .contact-data.hidden {
    opacity: 0;
    transform: translateY(100px); }

.about-carousel #about-intro {
  padding: 60px 30px 0; }
  .about-carousel #about-intro p {
    color: white;
    font-size: 18px;
    margin-bottom: 14px; }
  .about-carousel #about-intro ul#team-list {
    font-size: 18px;
    line-height: 1.4; }
    .about-carousel #about-intro ul#team-list button.jump-button {
      cursor: pointer;
      border: none;
      padding: 0;
      background: black;
      font-size: 18px;
      color: white; }

.about-carousel .carousel-cell.team-member:not(.is-selected) .name.up {
  transform: translateY(65px); }

.about-carousel .carousel-cell.team-member:not(.is-selected) div.contact-data {
  transform: translateY(100px);
  opacity: 0; }

/* End About-Page: Layout & Slider }}} */
/* Follow-Page: Slider {{{ */
body#follow footer {
  position: fixed;
  bottom: 0px;
  left: 0px; }

.follow-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch; }

.follow-carousel .flickity-viewport {
  width: 100%; }

.follow-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: black; }

.follow-carousel .carousel-cell {
  height: 100%;
  width: 100%; }

/* End Follow-Page: Slider }}} */
/* Carousel allgemein {{{ */
.carousel-cell > img,
.carousel-cell video {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  height: 100%;
  width: 375px;
  object-fit: cover; }

.carousel-cell > img.project-image {
  object-fit: contain;
  height: 600px;
  object-position: center center; }

.carousel-cell video.square {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center 85px; }

.carousel-cell div.description {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: black;
  padding-bottom: 130px;
  z-index: 300;
  transition: all 0.3s; }
  .carousel-cell div.description img {
    transition: transform 0.2s ease-in-out; }
  .carousel-cell div.description img:hover {
    transform: scale(1.1); }
  .carousel-cell div.description .link {
    position: absolute;
    top: -34px;
    right: 64px;
    cursor: pointer; }
  .carousel-cell div.description p {
    margin: 1em 1em 1em 1em;
    font-size: 0.6875em;
    color: white; }

.carousel-cell .close {
  position: absolute;
  top: -34px;
  right: 10px;
  cursor: pointer; }

.is-selected div.description.hidden {
  transform: translateY(500px); }

.carousel-cell:not(.is-selected) div.description {
  display: none; }

.flickity-button {
  display: none; }

/* End Carousel allgemein }}} */
/* Follow, Insta-Feed {{{*/
#follow main {
  color: white; }
  #follow main p {
    margin: 0 30px;
    font-size: 0.8125em; }
  #follow main .insta-post {
    padding-bottom: 15px;
    background: black; }
    #follow main .insta-post p.text {
      display: none;
      margin-bottom: 12px;
      font-size: 1em; }
    #follow main .insta-post p.mobile-follow-links a {
      font-weight: bold; }
    #follow main .insta-post .error-type {
      color: lawngreen;
      letter-spacing: 0.025em;
      transform: rotate(-7deg);
      transform-origin: bottom left;
      position: relative;
      top: 10px; }
    #follow main .insta-post .error {
      color: deeppink;
      transform: rotate(-7deg);
      transform-origin: bottom left;
      position: relative;
      left: 6px; }
    #follow main .insta-post video,
    #follow main .insta-post img {
      width: 100%;
      height: 375px;
      object-fit: cover;
      object-position: center top;
      margin: 45px 0 15px; }
  #follow main .insta-post:first-of-type {
    display: block; }

#follow .links {
  display: none; }
  #follow .links p a {
    font-weight: bold; }

/* End Follow, Insta-Feed }}}*/
/* Contact Page {{{ */
#contact {
  justify-content: flex-start; }
  #contact main .contact-data {
    background: black; }
    #contact main .contact-data img {
      margin: 45px 0 0;
      width: 100%;
      height: 375px;
      object-fit: cover;
      object-position: center bottom; }
    #contact main .contact-data address {
      font-size: 1.125em;
      font-style: normal;
      color: white;
      margin: 15px 30px 0; }

/* Contact Page }}}*/
/* --- Mobile Landscape Screen Styles --- */
/* Mobile-Landscape Styles {{{ */
@media screen and (min-width: 320px) and (max-width: 700px) and (orientation: landscape) {
  /* Kurzer Prozess, aka. Trick 77 */
  header, footer, div.description {
    display: none; } }

/* End Mobile-Landscape Styles }}} */
/* --- Small Screen Styles --- */
@media (min-width: 700px) {
  /* Small Screen Body {{{1 */
  body,
  body#about {
    height: 100vh;
    background: #2c2c2c;
    min-height: 780px;
    overflow: hidden; }
  /* End Small Screen Body }}}1 */
  /* Small Screen Main {{{1 */
  main {
    margin: auto;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center; }
  /* End Small Screen Main }}}1 */
  /* Small Screen Header {{{1 */
  header.shrink,
  header {
    z-index: 0;
    box-sizing: border-box;
    position: static;
    width: 700px;
    margin: 0 auto;
    padding-top: 28px;
    height: 140px;
    display: grid;
    background: transparent;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  body:not(#index) header #masthead,
  header.shrink #masthead,
  header #masthead {
    grid-column: 2/3;
    position: relative;
    top: 7px;
    margin: auto;
    padding: 0; }
    body:not(#index) header #masthead svg,
    header.shrink #masthead svg,
    header #masthead svg {
      width: 173px;
      height: auto; }
    body:not(#index) header #masthead h1,
    header.shrink #masthead h1,
    header #masthead h1 {
      font-size: 1.75em;
      letter-spacing: 0.025em; }
    body:not(#index) header #masthead p.byline,
    header.shrink #masthead p.byline,
    header #masthead p.byline {
      font-size: 12.25px;
      line-height: 0.9; }
  header p#home-link-container {
    display: block;
    grid-column: 1/2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start; }
    header p#home-link-container a#home-link {
      color: white;
      position: relative;
      top: 8px;
      margin-top: .5em; }
    header p#home-link-container a#home-link:hover {
      color: #96aaff; }
  #index header p#home-link-container {
    display: none; }
  header nav {
    display: block;
    grid-column: 3/-1;
    position: relative;
    top: -6px; }
    header nav ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: right;
      justify-content: center; }
      header nav ul li {
        font-size: 0.8125em;
        text-align: right; }
      header nav ul li.active {
        font-weight: bold; }
  header .simple-marquee-container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw; }
  body:not(#index) header {
    padding-top: 28px;
    height: 140px; }
  /* Small Screen Header }}}1 */
  /* Small Screen Footer {{{1 */
  footer {
    background: transparent;
    transform: translateY(47px); }
  footer:hover, footer.active {
    transform: translateY(30px); }
  footer nav {
    display: none; }
  body:not(#index) footer {
    display: none; }
  /* End Small Screen Footer }}}1 */
  /* Small Screen Carousels Global {{{1 */
  .carousel {
    margin: auto;
    box-style: border-box;
    overflow: hidden;
    display: block;
    position: relative;
    width: 375px;
    height: auto; }
    .carousel .flickity-viewport {
      position: static; }
    .carousel .carousel-cell {
      background: black;
      width: 375px;
      height: 600px;
      margin-right: 20px; }
    .carousel .flickity-page-dots {
      opacity: 1;
      position: static;
      background: transparent; }
    .carousel .flickity-page-dots.hidden {
      display: block;
      opacity: 1; }
  .flickity-prev-next-button.hidden {
    opacity: 0; }
  .flickity-prev-next-button {
    opacity: 1;
    transition: opacity 0.2s; }
  .carousel-cell > img,
  .carousel-cell video {
    position: static;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .carousel-cell video {
    height: 600px;
    width: 375px; }
  .carousel-cell video.square {
    object-position: center center; }
  .flickity-button {
    display: block; }
  .flickity-viewport {
    position: static; }
  .carousel-cell.is-selected .description {
    position: absolute;
    padding-bottom: 0; }
  /* Small Screen Carousels Global }}}1 */
  /* Custom Slider Arrows {{{1 */
  #customButtonLeft,
  #customButtonRight {
    display: block;
    width: 44px;
    height: 44px;
    margin: auto;
    border-radius: 22px;
    display: flex;
    background: black;
    outline: none;
    border: none; }
    #customButtonLeft svg,
    #customButtonRight svg {
      margin: auto; }
      #customButtonLeft svg polyline, #customButtonLeft svg path,
      #customButtonRight svg polyline,
      #customButtonRight svg path {
        stroke: white; }
  #customButtonLeft:hover,
  #customButtonRight:hover {
    background: #96aaff; }
  #customButtonLeft {
    order: -1; }
    #customButtonLeft svg {
      transform: translateX(-1px); }
  .carousel-cell > img,
  .carousel-cell video {
    width: 375px; }
  /* End Custom Slider Arrows }}}1 */
  /* Small Screen Main Carousel Exceptions {{{1 */
  .main-carousel .carousel-cell div.description p {
    font-size: 1em;
    letter-spacing: 0.0125em; }
    .main-carousel .carousel-cell div.description p em {
      letter-spacing: 0.025em; }
  /* End Small Screen Main Carousel Exeptions }}}1 */
  /* Small Screen About Carousel Exceptions {{{1 */
  .about-carousel #about-intro {
    padding: 20px 30px 0; }
    .about-carousel #about-intro ul#team-list button.jump-button:hover {
      color: #96aaff; }
  .about-carousel .carousel-cell.team-member .name {
    transform: translateY(65px); }
  .about-carousel .carousel-cell.team-member .name.up {
    transform: translateY(0px); }
  .about-carousel .flickity-page-dots.hidden {
    display: block; }
  /* End Small Screen About Carousel Exeptions }}}1 */
  /* Small Screen Archive Thumb Carousel {{{1 */
  footer #archive {
    display: flex;
    justify-content: center;
    margin: 0; }
    footer #archive ul.archive-carousel {
      /* this is the same as #archive ul */
      width: 700px;
      height: 120px;
      overflow: hidden;
      display: block; }
      footer #archive ul.archive-carousel .flickity-viewport {
        position: static; }
        footer #archive ul.archive-carousel .flickity-viewport li.archive-carousel-cell {
          margin-right: .5em;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end; }
  footer #archive ul li img.archive-thumb {
    transition: all 0.2s ease-in-out; }
  footer #archive ul.archive-carousel .flickity-viewport li.archive-carousel-cell.active img {
    transform: translateY(-25px); }
  /* End Small Screen Archive Thumb Carousel }}}1 */
  /* Small Screen Archive Project Descriptions {{{1 */
  ul#archive-descriptions {
    margin-top: 140px;
    top: 0;
    height: calc(100% - 140px);
    min-height: 440px;
    z-index: 1; }
    ul#archive-descriptions li.archive-project-description {
      margin: 0 auto;
      padding: 0;
      padding-top: 20px;
      width: 700px;
      justify-content: space-around; }
      ul#archive-descriptions li.archive-project-description img.archive-image {
        margin: auto 0 2vh;
        height: auto;
        width: 40vh;
        min-width: 300px;
        max-width: 480px; }
      ul#archive-descriptions li.archive-project-description div.archive-project-description-text {
        width: 40vh;
        min-width: 300px;
        max-width: 480px;
        margin-bottom: auto; }
      ul#archive-descriptions li.archive-project-description .close-handler {
        position: absolute;
        top: -22px;
        right: -22px; }
  /* End Small Screen Archive Project Descriptions }}}1 */
  /* Small Screen Follow, Insta-Feed {{{1 */
  #follow main {
    margin: auto auto 0; }
    #follow main .insta-post {
      width: 375px;
      height: 600px; }
      #follow main .insta-post p.text {
        display: block; }
      #follow main .insta-post p.mobile-follow-links {
        display: none; }
      #follow main .insta-post img, #follow main .insta-post video {
        margin: 0 0 15px; }
  #follow div.links {
    display: block;
    width: 700px;
    margin: 0 auto auto; }
    #follow div.links p.ext-links {
      margin: 0;
      padding: 0;
      text-align: left;
      color: white; }
      #follow div.links p.ext-links a {
        font-weight: bold; }
  /* End Small Screen Follow, Insta-Feed }}}1 */
  /* Small Screen Contact Page {{{1 */
  #contact main {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    margin: auto; }
    #contact main .contact-data {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 600px; }
      #contact main .contact-data img {
        margin: 0; }
  /* Small Screen Contact Page }}}1 */ }

/* --- Tablet Styles --- */
@media (min-width: 1000px) {
  /* Tablet Header {{{ */
  header.shrink,
  header {
    top: 5px;
    width: 960px; }
    header.shrink #masthead,
    header #masthead {
      top: 4px; }
  header p#home-link-container {
    display: block;
    grid-column: 1/2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start; }
    header p#home-link-container a#home-link {
      color: white;
      position: relative;
      top: 8px;
      margin-top: .5em; }
    header p#home-link-container a#home-link:hover {
      color: #96aaff; }
  #index header p#home-link-container {
    display: none; }
  header nav {
    top: 8px; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      header nav ul li {
        margin-top: .5em;
        margin-left: 2em; }
  /* Desktop Header }}} */
  /* Tablet Carousels Global {{{1 */
  #customButtonLeft, #customButtonRight {
    width: 32px;
    height: 32px; }
    #customButtonLeft svg, #customButtonRight svg {
      transform: scale(0.8); }
  .carousel {
    margin: 0 auto;
    width: 960px; }
    .carousel .carousel-cell {
      width: 310px;
      height: 496px;
      margin-right: 15px; }
  .carousel-cell > img,
  .carousel-cell video {
    width: 310px;
    height: 496px; }
  .carousel-cell > img.project-image {
    height: 496px; }
  /* End Tablet Carousels Global }}}1 */
  /* Tablet Archive Thumb Carousel {{{1 */
  footer #archive ul.archive-carousel {
    /* this is the same as #archive ul */
    width: 900px; }
  /* End Tablet Archive Thumb Carousel }}}1 */
  /* Tablet Archive Project Descriptions {{{1 */
  ul#archive-descriptions li.archive-project-description {
    width: 960px; }
  /* End Tablet Archive Project Descriptions }}}1 */
  /* Small Screen Follow, Insta-Feed {{{1 */
  #follow main {
    margin: auto auto 0; }
    #follow main .insta-post {
      width: 310px;
      height: 496px;
      margin-right: 15px; }
      #follow main .insta-post p.text {
        display: block;
        font-size: 16px; }
      #follow main .insta-post p.mobile-follow-links {
        display: none; }
      #follow main .insta-post img, #follow main .insta-post video {
        margin: 0 0 15px; }
  #follow div.links {
    display: block;
    width: 960px;
    margin: 0 auto auto; }
    #follow div.links p.ext-links {
      margin: 0;
      padding: 0;
      text-align: left;
      color: white; }
      #follow div.links p.ext-links a {
        font-weight: bold; }
  /* End Small Screen Follow, Insta-Feed }}}1 */
  /* Tablet Contact Page {{{1 */
  #contact main {
    width: 960px;
    grid-template-columns: auto 310px auto; }
    #contact main .contact-data {
      width: 310px;
      height: 560px; }
      #contact main .contact-data address {
        font-size: 16px; }
  /* End Tablet Contact Page }}}1 */ }

/* --- End Tablet Styles --- */
/* --- Desktop Styles --- */
@media (min-width: 1240px) {
  /* Desktop Header {{{1 */
  header.shrink,
  header {
    top: 5px;
    width: 1165px; }
    header.shrink #masthead,
    header #masthead {
      top: 4px; }
  header p#home-link-container {
    display: block;
    grid-column: 1/2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start; }
    header p#home-link-container a#home-link {
      color: white;
      position: relative;
      top: 8px;
      margin-top: .5em; }
    header p#home-link-container a#home-link:hover {
      color: #96aaff; }
  #index header p#home-link-container {
    display: none; }
  header nav {
    top: 8px; }
    header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
      header nav ul li {
        margin-top: .5em;
        margin-left: 2em; }
  /* End Desktop Header }}}1 */
  /* Desktop Carousels Global {{{1 */
  .carousel {
    width: 1165px; }
    .carousel .carousel-cell {
      width: 375px;
      height: 600px;
      margin-right: 20px; }
    .carousel .carousel-cell > img,
    .carousel .carousel-cell > video {
      width: 100%;
      height: 600px; }
    .carousel .carousel-cell video.square {
      height: 600px; }
    .carousel .carousel-cell > img.project-image {
      height: 600px; }
  #customButtonLeft, #customButtonRight {
    width: 44px;
    height: 44px; }
    #customButtonLeft svg, #customButtonRight svg {
      transform: scale(1); }
  /* End Desktop Carousels Global }}}1 */
  /* Archive Thumb Carousel {{{1 */
  footer #archive ul.archive-carousel {
    /* this is the same as #archive ul */
    width: 964px; }
  /* End Archive Thumb Carousel }}}1 */
  /* Archive Project Descriptions {{{1 */
  ul#archive-descriptions li.archive-project-description {
    width: 1165px; }
  /* End Archive Project Descriptions }}}1 */
  /* Small Screen Follow, Insta-Feed {{{1 */
  #follow main {
    margin: auto auto 0; }
    #follow main .insta-post {
      width: 375px;
      height: 600px;
      margin-right: 20px; }
      #follow main .insta-post p.text {
        font-size: 0.8125em;
        display: block; }
      #follow main .insta-post p.mobile-follow-links {
        display: none; }
      #follow main .insta-post img, #follow main .insta-post video {
        margin: 0 0 15px; }
  #follow div.links {
    display: block;
    width: 1165px; }
  /* End Small Screen Follow, Insta-Feed }}}1 */
  /* Contact Page {{{1 */
  #contact main {
    width: 1165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    margin: auto; }
    #contact main .contact-data {
      width: 375px;
      height: 600px; }
      #contact main .contact-data address {
        font-size: 1.125em; }
  /* End Contact Page }}}1 */ }

/* Hide footer when viewport height to low {{{1 */
@media (min-aspect-ratio: 2 / 1) {
  footer {
    display: none; } }

/* End Hide footer when viewport height to low }}}1 */
