html, * {
  font-family: 'Work Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

body {
  background: black;
  width: 100vw;
  height: 100vh;
  /* Arbeitshypothese: beginnt nach Address-Bar und reicht bis unter Menu-Bar */
  font-weight: 400;
  font-family: 'Work Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*overflow: hidden;*/
  /* no scroll balken */ }

main.hidden {
  display: none; }

/* Text Styles {{{ */
h1, h2, h3, h4, h5, h6, bold, em {
  font-weight: 700; }

h1 {
  font-size: 1.1em;
  letter-spacing: 0.3px; }

p {
  font-size: 0.8125em; }

em {
  font-style: normal; }

/* End Text Styles }}} */
/* Links {{{ */
a,
a:link,
a:active,
a:visited {
  color: white;
  text-decoration: none; }

a:focus,
a:hover {
  color: #96aaff; }

/* End Links }}} */
/* Header {{{ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 85px;
  background: black; }
  header #masthead {
    align-self: center;
    color: white;
    z-index: 100;
    text-align: center;
    padding: 0.9em 0 0.1em; }
    header #masthead svg {
      width: 158px;
      height: 33px; }
    header #masthead h1, header #masthead p.byline {
      position: absolute;
      top: -1000px; }
    header #masthead img#word-mark {
      transition: transform 0.2s ease-in-out; }
  header #masthead:hover p.byline,
  header #masthead:hover svg path {
    fill: #96aaff; }
  header p#home-link-container {
    display: none; }
  header nav {
    display: none; }
  header a {
    text-decoration: none; }
  header a:link, header a:visited {
    color: white; }
  header a:hover, header a:focus {
    color: #96aaff; }
  header .simple-marquee-container {
    position: absolute;
    bottom: 0; }
  header .simple-marquee-container.hidden {
    display: none; }

body:not(#index) header {
  height: 60px; }

/* End Header }}} */
/* Footer {{{ */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  padding-top: 5px;
  z-index: 20;
  opacity: 1;
  transition: all 0.3s; }

footer.hidden {
  opacity: 0;
  transform: translateY(300px); }

body:not(#index) footer {
  padding-top: 1em; }

footer nav {
  padding-bottom: 1em; }

footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

footer nav ul li a,
footer nav ul li a:visited,
footer nav ul li a:link {
  color: white;
  text-decoration: none; }

footer nav ul li a:hover,
footer nav ul li a:focus,
footer nav ul li a:active {
  color: #9b14ff; }

/* Archive Projects */
footer #archive {
  margin-bottom: 1em; }

footer #archive ul {
  width: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  padding: 0 0.25em; }

footer #archive ul li {
  margin-right: 0.25em; }

footer #archive ul li > img {
  height: 95px; }

/* Archive Project Descriptions */
ul#archive-descriptions {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 140;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: stretch; }
  ul#archive-descriptions li.archive-project-description {
    height: 100%;
    background: black;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px; }
    ul#archive-descriptions li.archive-project-description div.archive-project-description-text {
      width: 345px;
      text-align: center;
      order: 2; }
    ul#archive-descriptions li.archive-project-description img.archive-image {
      margin: 20px 0;
      width: 300px;
      height: auto; }
    ul#archive-descriptions li.archive-project-description .close {
      order: 1;
      z-index: 200;
      align-self: flex-end; }
  ul#archive-descriptions li.archive-project-description.hidden {
    display: none;
    height: 0;
    width: 0; }

ul#archive-descriptions.hidden {
  display: none; }

/*
section.archive-project-description {
  opacity: 1;
  transition: opacity 0.2s;
  position: fixed;
  top: 60px; // just below the header
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 300px; 
    height: auto; 
    margin-bottom: 2vh;
  }
  div.archive-project-description-text {
    order: 1; // place after close-button
    margin-bottom: 2em;
    width: calc(100% - 30px);
    white-space: normal;
    p {
      color: white;
      text-align: center;
    }
  }
  img.close {
    width: 44px;
    height: 44px;
    margin: 0 10px 0 0;
    align-self: flex-end;
  }
}
*/
/* End Footer }}} */
/* Home Carousel {{{ */
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.carousel-cell {
  width: 100%;
  height: 103vh;
  overflow: hidden; }

.flickity-page-dots {
  position: fixed;
  bottom: 160px;
  left: 0;
  background: transparent; }

.flickity-page-dots.hidden {
  display: none; }

/* Home Carousel }}}*/
/* About-Page: Layout & Slider {{{ */
body#about {
  height: auto; }
  body#about footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 60px; }

.about-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch; }

.about-carousel .flickity-viewport {
  width: 100%; }

.about-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: transparent; }

.about-carousel .carousel-cell {
  height: 100%;
  width: 100%; }

.about-carousel .carousel-cell.team-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .about-carousel .carousel-cell.team-member .name {
    padding: 30px 30px 10px;
    font-size: 13px;
    line-height: 1.2;
    color: white;
    background: transparent;
    transform: translateY(-25px);
    transition: all 0.2s ease-in-out; }
  .about-carousel .carousel-cell.team-member .name.up {
    transform: translateY(-10px); }
  .about-carousel .carousel-cell.team-member .contact-data {
    position: relative;
    padding: 10px 30px 30px;
    background: black;
    color: white;
    transition: all 0.3s ease-in-out; }
  .about-carousel .carousel-cell.team-member .contact-data.hidden {
    opacity: 0;
    transform: translateY(100px); }

.about-carousel #about-intro {
  padding: 60px 30px 0; }
  .about-carousel #about-intro p {
    color: white;
    font-size: 18px;
    margin-bottom: 14px; }
  .about-carousel #about-intro ul#team-list {
    font-size: 18px;
    line-height: 1.4; }
    .about-carousel #about-intro ul#team-list button.jump-button {
      cursor: pointer;
      border: none;
      padding: 0;
      background: black;
      font-size: 18px;
      color: white; }

/* End About-Page: Layout & Slider }}} */
/* Follow-Page: Slider {{{ */
body#follow footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 60px; }

.follow-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch; }

.follow-carousel .flickity-viewport {
  width: 100%; }

.follow-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: black; }

.follow-carousel .carousel-cell {
  height: 100%;
  width: 100%; }

/* End Follow-Page: Slider }}} */
/* Carousel allgemein {{{ */
.carousel-cell > img,
.carousel-cell video {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.carousel-cell video.square {
  object-fit: contain;
  object-position: center 85px; }

.carousel-cell div.description {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: black;
  padding-bottom: 130px;
  z-index: 300;
  transition: all 0.3s; }
  .carousel-cell div.description img {
    transition: transform 0.2s ease-in-out; }
  .carousel-cell div.description img:hover {
    transform: scale(1.1); }
  .carousel-cell div.description .link {
    position: absolute;
    top: -34px;
    right: 64px;
    cursor: pointer; }
  .carousel-cell div.description p {
    margin: 1em 1em 1em 1em;
    font-size: 0.6875em;
    color: white; }

.carousel-cell .close {
  position: absolute;
  top: -34px;
  right: 10px;
  cursor: pointer; }

.is-selected div.description.hidden {
  transform: translateY(500px); }

.carousel-cell:not(.is-selected) div.description {
  display: none; }

.flickity-button {
  display: none; }

/* End Carousel allgemein }}} */
/* Follow, Insta-Feed {{{*/
#follow main {
  color: white; }
  #follow main p {
    margin: 0 30px;
    font-size: 0.8125em; }
  #follow main .insta-post {
    padding-bottom: 15px;
    background: black; }
    #follow main .insta-post p.text {
      display: none;
      margin-bottom: 12px;
      font-size: 1em; }
    #follow main .insta-post p.mobile-follow-links a {
      font-weight: bold; }
    #follow main .insta-post .error-type {
      color: lawngreen;
      letter-spacing: 0.025em;
      transform: rotate(-7deg);
      transform-origin: bottom left;
      position: relative;
      top: 10px; }
    #follow main .insta-post .error {
      color: deeppink;
      transform: rotate(-7deg);
      transform-origin: bottom left;
      position: relative;
      left: 6px; }
    #follow main .insta-post video,
    #follow main .insta-post img {
      width: 100%;
      height: 375px;
      object-fit: cover;
      object-position: center top;
      margin: 60px 0 15px; }
  #follow main .insta-post:first-of-type {
    display: block; }

#follow .links {
  display: none; }
  #follow .links p a {
    font-weight: bold; }

/* End Follow, Insta-Feed }}}*/
/* Contact Page {{{ */
#contact {
  justify-content: flex-start; }
  #contact main .contact-data {
    padding-top: 15px;
    background: black; }
    #contact main .contact-data img {
      margin: 45px 0 0;
      width: 100%;
      height: 375px;
      object-fit: cover;
      object-position: center bottom; }
    #contact main .contact-data address {
      font-size: 1.125em;
      font-style: normal;
      color: white;
      margin: 15px 30px 0; }

/* Contact Page }}}*/
/* Mobile-Landscape Styles {{{ */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  /* Kurzer Prozess, aka. Trick 77 */
  header, footer, div.description {
    display: none; } }

/* End Mobile-Landscape Styles }}} */
/* Mobile Landscape {{{ */
@media (min-width: 767px) {
  body,
  body#about {
    height: 100vh;
    background: #2c2c2c; }
  /* End Mobile Landscape }}} */
  /* --- Desktop Styles --- */
  /* Desktop Header {{{ */
  header {
    box-sizing: border-box;
    position: static;
    width: 1165px;
    margin: 0 auto;
    padding-top: 28px;
    height: 140px;
    display: grid;
    background: transparent;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; }
  header #masthead {
    grid-column: 2/3;
    position: relative;
    top: 1px;
    margin: auto;
    padding: 0; }
    header #masthead svg {
      width: 199px;
      height: 42px; }
    header #masthead h1 {
      font-size: 1.75em;
      letter-spacing: 0.025em; }
    header #masthead p.byline {
      font-size: 12.25px;
      line-height: 0.9; }
  header p#home-link-container {
    display: block;
    grid-column: 1/2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start; }
    header p#home-link-container a#home-link {
      color: white;
      position: relative;
      top: 8px;
      margin-top: .5em; }
    header p#home-link-container a#home-link:hover {
      color: #96aaff; }
  #index header p#home-link-container {
    font-weight: bold; }
  header nav {
    display: block;
    grid-column: 3/-1;
    position: relative;
    top: 8px; }
    header nav ul {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-end; }
      header nav ul li {
        margin-top: .5em;
        margin-left: 2em;
        font-size: 0.8125em; }
      header nav ul li.active {
        font-weight: bold; }
  header .simple-marquee-container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw; }
  body:not(#index) header {
    padding-top: 28px;
    height: 140px; }
  /* Desktop Header }}} */
  /* Desktop Footer {{{ */
  footer {
    padding-top: .5em;
    bottom: -120px;
    background: transparent; }
  footer:hover, footer.active {
    bottom: 0px; }
  footer nav {
    display: none; }
  body:not(#index) footer {
    display: none; }
  /* Archive Projects */
  footer #archive {
    margin-bottom: 0; }
  footer #archive ul {
    overflow: visible;
    justify-content: center; }
  footer #archive ul.active {
    align-items: flex-end;
    height: auto; }
  footer #archive ul li {
    margin-right: .5em; }
  footer #archive ul li > img {
    height: 150px;
    transition: all 0.2s ease-in-out; }
  footer #archive ul li.active > img {
    height: 180px; }
  /* Archive Project Descriptions */
  ul#archive-descriptions {
    top: 18vh;
    height: calc(100% - 140px);
    z-index: 1; }
    ul#archive-descriptions li.archive-project-description {
      margin: 0 auto;
      padding: 0;
      width: 1165px; }
      ul#archive-descriptions li.archive-project-description .close {
        position: absolute;
        top: -22px;
        right: -22px; }
  /* End Archive Projects */
  /* End Desktop Footer }}} */
  /* Desktop Carousels Global {{{ */
  .carousel {
    margin: auto;
    box-style: border-box;
    overflow: hidden;
    display: block;
    position: relative;
    width: 1165px;
    height: auto; }
    .carousel .flickity-viewport {
      position: static; }
    .carousel .carousel-cell {
      background: black;
      width: 375px;
      height: 600px;
      margin-right: 20px; }
    .carousel .flickity-page-dots {
      opacity: 1;
      position: static;
      background: transparent; }
    .carousel .flickity-page-dots.hidden {
      display: block;
      opacity: 0; }
  .flickity-prev-next-button.hidden {
    opacity: 0; }
  .flickity-prev-next-button {
    opacity: 1;
    transition: opacity 0.2s; }
  .carousel-cell > img,
  .carousel-cell video {
    position: static;
    object-fit: cover;
    width: auto; }
  .carousel-cell video {
    height: 600px;
    width: 375px; }
  .carousel-cell video.square {
    object-position: center center; }
  .flickity-button {
    display: block; }
  .flickity-viewport {
    position: static; }
  .carousel-cell.is-selected .description {
    position: absolute;
    padding-bottom: 0; }
  /* Desktop Carousels Global }}} */
  /* Desktop Carousel Exceptions {{{ */
  .main-carousel .carousel-cell div.description p {
    font-size: 1em;
    letter-spacing: 0.0125em; }
    .main-carousel .carousel-cell div.description p em {
      letter-spacing: 0.025em; }
  .about-carousel #about-intro {
    padding: 15px 30px 0; }
    .about-carousel #about-intro ul#team-list button.jump-button:hover {
      color: #96aaff; }
  .about-carousel .carousel-cell.team-member:hover .name {
    color: #96aaff; }
  .about-carousel .carousel-cell.team-member:hover .name.up {
    color: white; }
  .about-carousel .carousel-cell.team-member .name {
    transform: translateY(40px); }
  .about-carousel .carousel-cell.team-member .name.up {
    transform: translateY(0px); }
  .about-carousel .flickity-page-dots.hidden {
    display: block; }
  /* End Desktop Carousel Exeptions }}} */
  /* Follow, Insta-Feed {{{ */
  #follow main {
    margin: auto auto 0; }
    #follow main .insta-post {
      width: 375px;
      height: 600px; }
      #follow main .insta-post p.text {
        display: block; }
      #follow main .insta-post p.mobile-follow-links {
        display: none; }
      #follow main .insta-post img, #follow main .insta-post video {
        margin: 0 0 15px; }
  #follow div.links {
    display: block;
    width: 1165px;
    margin: 0 auto auto; }
    #follow div.links p.ext-links {
      margin: 0;
      padding: 0;
      text-align: left;
      color: white; }
      #follow div.links p.ext-links a {
        font-weight: bold; }
  /* End Follow, Insta-Feed }}} */
  /* Contact Page {{{ */
  #contact main {
    width: 1165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    margin: auto; }
    #contact main .contact-data {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 600px; }
      #contact main .contact-data img {
        margin: 0; }
  /* Contact Page }}}*/ }
