// Variables
$desktop-width: 1165px;
$card-width: 375px;
$card-height: 600px;
$violet: rgb(150, 170, 255); 

html, * {
  font-family: 'Work Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: black;
  width: 100vw;
  // Height muss definiert sein, sonst geht header sticky nicht
  height: 100vh; /* Arbeitshypothese: beginnt nach Address-Bar und reicht bis unter Menu-Bar */
  font-weight: 400;
  font-family: 'Work Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  // Flex: Header oben, Footer unten, Slider absolut positioniert im Hintergrund
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*overflow: hidden;*/ /* no scroll balken */
}

main.hidden { display: none; } // needed for archive modal

/* Text Styles {{{ */
h1, h2, h3, h4, h5, h6, bold, em { font-weight: 700; }
h1 { font-size: 1.1em; letter-spacing: 0.3px; }
p { font-size: 0.8125em; }
em { font-style: normal; }
/* End Text Styles }}} */

/* Links {{{ */
a,
a:link,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}
a:focus,
a:hover { color: $violet; }
/* End Links }}} */

/* Header {{{ */
header {
  position: fixed; // mit sticky gibts probleme im about slider
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  height: 85px;
  background: black;
  #masthead {
    align-self: center;
    color: white;
    z-index: 100;
    text-align: center;
    padding: 0.9em 0 0.1em;
    svg {
      width: 158px;
      height: 33px;
    }
    h1, p.byline {
      position: absolute;
      top: -1000px;
    }
  }
  #masthead:hover {
    svg path { fill: $violet; }
  }
  p#home-link-container { display: none; }
  nav { display: none; }
  a { text-decoration: none; }
  a:link, a:visited { color: white; }
  a:hover, a:focus { color: $violet; }
  .simple-marquee-container.hidden { display: none; }
}
header.shrink,
body:not(#index) header {
  height: 45px;
  #masthead {
    svg {
      width: 126px;
      height: auto;
      position: relative;
      top: -3px;
    }
  }
}
/* End Header }}} */

/* Footer {{{ */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  padding-top: 5px;
  z-index: 20;
  opacity: 1;
  transition: all 0.3s;
}
footer.hidden {
  opacity: 0;
  transform: translateY(300px) ;
}
body:not(#index) footer { padding-top: 1em; }

footer nav { padding-bottom: 1em; }
footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer nav ul li a,
footer nav ul li a:visited,
footer nav ul li a:link {
  color: white;
  text-decoration: none;
}

footer nav ul li a:hover,
footer nav ul li a:focus,
footer nav ul li a:active { color: $violet; }
/* End Footer }}} */

/* Archive Projects Slider {{{ */
footer #archive { margin-bottom: 1em; }
footer #archive ul {
  height: 100px;
  width: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
  list-style: none;
  white-space: nowrap;
  // display: flex; // flex not needed on mobile for slider
  // flex-direction: row;
  // justify-content: center;
  // padding: 0 0.25em;
}
footer #archive ul li { margin-right: 0.25em; }
footer #archive ul li>img { height: 95px; } // thumbnails
/* End Archive Projects Slider }}} */

/* Archive Project Descriptions {{{ */
ul#archive-descriptions {
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 140; // above header
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  li.archive-project-description {
    height: 100%;
    background: black;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    div.archive-project-description-text {
      width: 300px;
      text-align: center;
      order: 2;
    }
    img.archive-image {
      margin: 20px 0;
      width: 300px;
      height: auto;
    }
    .close {
      order: 1;
      z-index: 200;
      align-self: flex-end;
    }
  }
  li.archive-project-description.hidden {
    display: none;
    height: 0;
    width: 0;
  }
}
ul#archive-descriptions.hidden {display: none;}
/* End Archive Project Descriptions }}} */

/* Home Carousel {{{ */
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.carousel-cell { // betrifft auch About-Carousel :-/
  width: 100%;
  height: 103vh;
  overflow: hidden;
}
.flickity-page-dots {
  position: fixed;
  bottom: 160px; // Test! (sollte über dem footer sein)
  left: 0;
  background: transparent;
}
.flickity-page-dots.hidden { display: none; }
/* Home Carousel }}}*/

/* About-Page: Layout & Slider {{{ */
body#about {
  //height: calc(100vh - 145px); // browser-chrome + footer
  height: auto;
  footer {
    position:fixed;
    bottom: 0px;
    left: 0px;
  } 
} 

.about-carousel {
  width: 100%;
  //height: calc(100vh - 170px); // 60px footer, 85px header, 25px slider-dots
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}
.about-carousel .flickity-viewport { width: 100%; }
//.about-carousel .flickity-viewport { position: static; }
.about-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: transparent;
}
.about-carousel .carousel-cell {
  height: 100%;
  width: 100%;
}
.about-carousel .carousel-cell.team-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .name {
    padding: 30px 30px 10px;
    font-size: 13px;
    line-height: 1.2;
    color: white;
    background: transparent;
    transform: translateY(-25px);
    transition: all 0.2s ease-in-out;
  }
  .name.up { transform: translateY(-10px); }
  .contact-data {
    position: relative;
    padding: 10px 30px 30px;
    background: black;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .contact-data.hidden {
    opacity: 0;
    transform: translateY(100px);
  }
}
.about-carousel #about-intro {
  padding: 45px 30px 0;
  p {
    color: white;
    font-size: 18px;
    margin-bottom: 14px ;
  }
  ul#team-list {
    font-size: 18px;
    line-height: 1.4;
    button.jump-button {
      cursor: pointer;
      border: none;
      padding: 0;
      background: black;
      font-size: 18px;
      color: white;
    }
 }
}
/* End About-Page: Layout & Slider }}} */

/* Follow-Page: Slider {{{ */
body#follow {
  //height: calc(100vh - 145px); // browser-chrome + footer
  // height: auto;
  footer {
    position:fixed;
    bottom: 0px;
    left: 0px;
  } 
} 

.follow-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}
.follow-carousel .flickity-viewport { width: 100%; }
.follow-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: black;
}
.follow-carousel .carousel-cell {
  height: 100%;
  width: 100%;
}
/* End Follow-Page: Slider }}} */

/* Carousel allgemein {{{ */
.carousel-cell>img, 
.carousel-cell video {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-cell {
  video.square {
    object-fit: contain;
    object-position: center 85px; // no support in ios :-(
  }
   div.description {
    width: 100%;
    position: fixed; // sollte absolute sein! 
    bottom: 0;
    background: black;
    padding-bottom: 130px; // etwas hoch für iPhone 8, weil iPhone X höheren Menu-Bar hat.
    z-index: 300;
    // padding: 1em 5em 4em 1em;
    // animate
    transition: all 0.3s;
    img { transition: transform 0.2s ease-in-out; }
    img:hover { transform: scale(1.1); }
    .link { // link button
      position: absolute;
      top: -34px;
      right: 64px; // this is odd, should be less
      cursor: pointer;
    }
    p {
      margin: 1em 1em 1em 1em;
      font-size: 0.6875em;
      color: white;
    }
  }
  .close { // close button
    position: absolute;
    top: -34px;
    right: 10px; // this is odd, should be less
    cursor: pointer;
  }
}

.is-selected div.description.hidden {
  transform: translateY(500px) ;
}
.carousel-cell:not(.is-selected) div.description { display: none; }
.flickity-button { display: none; } // hide Arrows
/* End Carousel allgemein }}} */

/* Archive Carousel {{{ */
// deactivate archive carousel by default
.archive-carousel:after { content: ''; }
/* End Archive Carousel }}} */

/* Follow, Insta-Feed {{{*/
#follow {
  main {
    color: white;
    p {
      margin: 0 30px;
      font-size: 0.8125em;
    }
    .insta-post {
      padding-bottom: 15px;
      background: black;
      p.text {
        display: none;
        margin-bottom: 12px;
        font-size: 1em;
      }
      p.mobile-follow-links {
        a { font-weight: bold; }
      }
      .error-type {
        color: lawngreen;
        letter-spacing: 0.025em;
        transform: rotate(-7deg);
        transform-origin: bottom left;
        position: relative;
        top: 10px;
      }
      .error {
        color: deeppink;
        transform: rotate(-7deg);
        transform-origin: bottom left;
        position: relative;
        left: 6px;
      }
      video,
      img {
        width: 100%;
        height: 375px;
        object-fit: cover;
        object-position: center top;
        margin: 45px 0 15px;
      }
    }
    .insta-post:first-of-type { display: block; }
  }
  .links {
    display: none;
    p a { font-weight: bold; }
  }
}
/* End Follow, Insta-Feed }}}*/

/* Contact Page {{{ */
#contact {
  justify-content: flex-start;
  main {
    .contact-data {
      // padding-top: 15px;
      background: black;
      img {
        margin: 45px 0 0;
        width: 100%;
        height: 375px;
        object-fit: cover;
        object-position: center bottom;
      }
      address {
        font-size: 1.125em;
        font-style: normal;
        color: white;
        margin: 15px 30px 0;
      }
    }
  }
}
/* Contact Page }}}*/

/* Mobile-Landscape Styles {{{ */
// should be combined with aspect-ratio!
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  /* Kurzer Prozess, aka. Trick 77 */
  header, footer, div.description { display: none; }
}
/* End Mobile-Landscape Styles }}} */

/* --- Desktop Styles --- */

@media (min-width: 767px) {
  body,
  body#about {
    height: 100vh; // flex-column-layout
    background: rgb(44, 44, 44);
  }


  /* Desktop Header {{{ */
  header.shrink,
  header {
    box-sizing: border-box;
    position: static;
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 28px; // marquee
    height: 140px;
    display: grid;
    background: transparent;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    // background: url('/assets/_pic/header_guides.png');
  }
  body:not(#index) header #masthead, // no exceptions on Desktop
  header.shrink #masthead,
  header #masthead {
    grid-column: 2/3;
    position: relative;
    top: 4px;
    margin: auto;
    padding: 0;
    svg {
      width: 173px;
      height: auto;
    }
    h1 {
      font-size: 1.75em;
      letter-spacing: 0.025em;
    }
    p.byline {
      font-size: 12.25px;
      line-height: 0.9;
    }
  }
  header p#home-link-container {
    display: block; // einblenden
    grid-column: 1/2;
    display: flex;
    height: 100%;
    align-items: center; 
    justify-content: flex-start; // should be right, and header-width same as main
    a#home-link {
      color: white;
      position: relative;
      top: 8px;
      margin-top: .5em;
    }
    a#home-link:hover { color: $violet; } 
  }
  #index header p#home-link-container { display: none; }
  header nav {
    display: block; // einblenden
    grid-column: 3/-1;
    position: relative;
    top: 8px;
    ul {
      display: flex;
      height: 100%;
      align-items: center; 
      justify-content: flex-end; // should be right, and header-width same as main
      li {
        margin-top: .5em;
        margin-left: 2em;
        font-size: 0.8125em;
      }
      li.active { font-weight: bold; }
    }
  }
  header .simple-marquee-container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
  }
  body:not(#index) header {
    padding-top: 28px; // fehlenden marquee auffangen
    height: 140px;
  }
  /* Desktop Header }}} */

  /* Desktop Footer {{{ */
  footer {
    // padding-top: .5em;
    background: transparent;
    transform: translateY(65px);
  }
  footer:hover, footer.active {
    // hover or visible archive project
    transform: translateY(25px);
  }
  footer nav { display: none; }
  body:not(#index) footer { display: none; }

  /* End Desktop Footer }}} */

  /* Desktop Carousels Global {{{ */
  .carousel {
    margin: auto; // centered in flex-column
    box-style: border-box;
    overflow: hidden;
    display: block;
    position: relative;
    width: $desktop-width;
    height: auto;
    .flickity-viewport { position: static; }
    .carousel-cell {
      background: black;
      width: $card-width;
      height: $card-height;
      margin-right: 20px;
    }
    .flickity-page-dots {
      opacity: 1;
      position: static;
      background: transparent;
    }
    .flickity-page-dots.hidden { // prevent jumping of flex-layout
      display: block;
      opacity: 0;
    }
  } 
  .flickity-prev-next-button.hidden { opacity: 0; }
  .flickity-prev-next-button {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .carousel-cell>img, 
  .carousel-cell video {
    position: static;
    object-fit: cover;
    width: auto;
  }
  .carousel-cell video {
    height: $card-height;
    width: $card-width
  }
  .carousel-cell video.square { object-position: center center; }
  .flickity-button { display: block; }
  .flickity-viewport { position: static; }
  .carousel-cell.is-selected .description {
    position: absolute;
    padding-bottom: 0;
  }
 /* Desktop Carousels Global }}} */

  /* Desktop Main Carousel Exceptions {{{ */
  .main-carousel .carousel-cell div.description p {
    font-size: 1em;
    letter-spacing: 0.0125em;
    em { letter-spacing: 0.025em; }
  }
  /* End Desktop Main Carousel Exeptions }}} */

  /* Desktop About Carousel Exceptions {{{ */
  .about-carousel #about-intro {
    padding: 15px 30px 0;
    ul#team-list {
      button.jump-button:hover { color: $violet; }
    }
  }
  .about-carousel .carousel-cell.team-member:hover .name { color: $violet; }
  .about-carousel .carousel-cell.team-member:hover .name.up { color: white; }
  .about-carousel .carousel-cell.team-member .name { transform: translateY(65px); }
  .about-carousel .carousel-cell.team-member .name.up { transform: translateY(0px); }
  .about-carousel .flickity-page-dots.hidden { display: block; } // no need to hide
  /* End Desktop About Carousel Exeptions }}} */

  /* Archive Thumb Carousel {{{ */
  footer #archive {
    display: flex;
    justify-content: center; // Center carousel
    margin: 0;
    ul.archive-carousel { /* this is the same as #archive ul */
      // border: solid 1px red;
      width: 964px;
      height: 120px;
      overflow: hidden; // cells overlapping left and right should be cut off
      display: block; // disable flex (as on mobile)
      .flickity-viewport {
        position: static;
        li.archive-carousel-cell {
          margin-right: .5em;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }

  // footer #archive ul.archive-carousel:after { // actiate carousel
  //   content: 'flickity'; // corresponds to the ‘watchCSS’ property
  //   display: none;
  // }
  footer #archive ul.active { // ul.active = ul containing li.active
    // height: auto;
  }

  footer #archive ul li img.archive-thumb { // thumbnails
    transition: all 0.2s ease-in-out;
  }
  footer #archive ul.archive-carousel .flickity-viewport li.archive-carousel-cell.active {
    // justify-content: flex-start;
    img {
      transform: translateY(-25px);
    }
  }
  /* End Archive Thumb Carousel */

  /* Archive Project Descriptions {{{ */
  ul#archive-descriptions {
    top: 18vh;
    height: calc(100% - 140px);
    z-index: 1; // in front of project slider, behind archive
    li.archive-project-description {
      margin: 0 auto;
      padding: 0;
      width: $desktop-width;
      .close {
        position: absolute;
        top: -22px;
        right: -22px;
      }
    }
  }
  /* End Archive Project Descriptions }}} */

  /* Follow, Insta-Feed {{{ */
  #follow main {
    margin: auto auto 0; // flex: stick to div.links below
    .insta-post {
      width: $card-width;
      height: $card-height;
      p.text { display: block; }
      p.mobile-follow-links { display: none; }
      img, video {
        margin: 0 0 15px;
      }
    }
  }
  #follow div.links {
    display: block;
    width: $desktop-width;
    margin: 0 auto auto; // flex: stick to main above
    p.ext-links {
      margin: 0;
      padding: 0;
      text-align: left;
      color: white;
      a { font-weight: bold; }
    }
  }
  /* End Follow, Insta-Feed }}} */

  /* Contact Page {{{ */
  #contact main {
    width: $desktop-width;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    margin: auto;

    .contact-data {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      padding: 0;
      height: $card-height;
      img {
        margin: 0;
      }
    }
  }
  /* Contact Page }}}*/

}
