// Variables
$desktop-width: 1165px;
$card-width: 375px;
$card-height: 600px;

html, * {
  font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: black;
  width: 100vw;
  // Height muss definiert sein, sonst geht header sticky nicht
  height: 100vh; /* Arbeitshypothese: beginnt nach Address-Bar und reicht bis unter Menu-Bar */
  font-weight: 400;
  font-family: 'Works Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  // Flex: Header oben, Footer unten, Slider absolut positioniert im Hintergrund
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*overflow: hidden;*/ /* no scroll balken */

}

/* Text Styles {{{ */
h1, h2, h3, h4, h5, h6, bold, em { font-weight: 700; }
h1 { font-size: 1.1em; letter-spacing: 0.3px; }
p { font-size: 0.8125em; }
em { font-style: normal; }
/* End Text Styles }}} */

/* Links {{{ */
a,
a:link,
a:active,
a:visited {
  color: white;
  text-decoration: none;
}
a:focus,
a:hover { color: #9b14ff; }
/* End Links }}} */

/* Header {{{ */
header {
  position: fixed; // mit sticky gibts probleme im about slider
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  background: black;
  z-index: 10;
  #masthead {
    color: white;
    z-index: 100;
    text-align: center;
    padding: 0.5em;
    h1, p {
      position: absolute;
      top: -1000px;
    }
  }
  nav { display: none; }
  a { text-decoration: none; }
  a:link, a:visited { color: white; }
  a:hover, a:focus { color: rgb(155, 20, 255); }
  .simple-marquee-container { position: absolute; bottom: 0;}
}
body:not(#index) header { height: 60px; }
/* End Header }}} */

/* Footer {{{ */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: black;
  padding-top: 5px;
  z-index: 20;
  opacity: 1;
  transition: all 0.3s;
}
footer.hidden {
  opacity: 0;
  transform: translateY(300px) ;
}
body:not(#index) footer { padding-top: 1em; }

footer nav { padding-bottom: 1em; }
footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer nav ul li a,
footer nav ul li a:visited,
footer nav ul li a:link {
  color: white;
  text-decoration: none;
}
footer nav ul li a:hover,
footer nav ul li a:focus,
footer nav ul li a:active { color: rgb(155, 20, 255); }

footer #archive { margin-bottom: 1em; }
footer #archive ul {
  width: 100%;
  overflow-x: scroll;
  box-sizing: content-box;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  padding: 0 0.25em;
}
footer #archive ul li { margin-right: 0.25em; }
footer #archive ul li img { height: 95px; }
footer #archive section.hidden {
  display: none;
  opacity: 0;
}
footer #archive section {
}
section.archive-project-description {
  opacity: 1;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  position: fixed; // mobile wtf???
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  img { margin: auto; }
  p.archive-project-description-text {
    text-align: center;
    color: white;
  }
  .close {
    border: none;
    background: transparent;
    img {}
  }
}
/* End Footer }}} */

/* Home Carousel {{{ */
.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.carousel-cell { // betrifft auch About-Carousel :-/
  width: 100%;
  height: 103vh;
  overflow: hidden;
}
.flickity-page-dots {
  position: fixed;
  bottom: 160px; // Test! (sollte über dem footer sein)
  left: 0;
  background: transparent;
  opacity: 1;
  transition: opacity 0.2s;
}
.flickity-page-dots.hidden { opacity: 0; }
/* Home Carousel }}}*/

/* About-Page: Layout & Slider {{{ */
body#about {
  //height: calc(100vh - 145px); // browser-chrome + footer
  height: auto;
  footer {
    position:fixed;
    bottom: 0px;
    left: 0px;
    height: 60px;
  } 
} 

.about-carousel {
  width: 100%;
  //height: calc(100vh - 170px); // 60px footer, 85px header, 25px slider-dots
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}
.about-carousel .flickity-viewport { width: 100%; }
//.about-carousel .flickity-viewport { position: static; }
.about-carousel .flickity-page-dots {
  bottom: 60px;
  left: 0;
  background: black;
}
.about-carousel .carousel-cell {
  height: 100%;
  width: 100%;
  .name {
    font-size: 13px;
    line-height: 1.2;
    color: white;
    background: transparent;
    position: absolute;
    left: 30px;
    bottom: calc(0px + 24vh);
  }
}
.about-carousel #about-intro {
  padding: 60px 30px 0;
  p {
    color: white;
    font-size: 18px;
    margin-bottom: 14px ;
  }
  ul#team-list {
    font-size: 18px;
    line-height: 2.25;
 }
}
/* End About-Page: Layout & Slider }}} */

/* Carousel allgemein {{{ */
.carousel-cell>img, 
.carousel-cell video {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-cell video.square {
  object-fit: contain;
  object-position: center 85px; // no support in ios :-(
  // Platzierung ok? 
  //    - iPhone 8 ok
}

.carousel-cell div.description {
  width: 100%;
  position: fixed; // sollte absolute sein! 
  bottom: 0;
  background: black;
  padding-bottom: 100px;
  z-index: 300;
  // padding: 1em 5em 4em 1em;
  // animate
  transition: all 0.3s;
}
.carousel-cell div.description img { transition: transform 0.2s ease-in-out; }
.carousel-cell div.description img:hover { transform: scale(1.1); }
.carousel-cell div.description .link { // link button
  position: absolute;
  top: -30px;
  right: 80px; // this is odd, should be less
}
.carousel-cell div.description .close { // close button
  // would be better to refer by class
  position: absolute;
  top: -30px;
  right: 20px; // this is odd, should be less
}
.carousel-cell div.description p {
  margin: 1em 5em 1em 1em;
  font-size: 0.6875em;
  color: white;
}
.is-selected div.description.hidden {
  transform: translateY(500px) ;
}
.carousel-cell:not(.is-selected) div.description {
  display: none;
}
.flickity-button {
  display: none;
}
/* End Carousel allgemein }}} */

/* Follow, Insta-Feed {{{*/
#follow {
  // justify-content: flex-start;
  main {
    color: white;
    p {
      margin: 0 30px;
      font-size: 0.8125em;
    }
    .insta-post {
      // padding-top: 15px;
      padding-bottom: 15px;
      background: black;
      // display: none;
      // border: 1px solid yellow;
      p.text {
        margin-bottom: 12px;
        font-size: 1em;
      }
      .error-type {
        color: lawngreen;
        letter-spacing: 0.025em;
        transform: rotate(-7deg);
        transform-origin: bottom left;
        position: relative;
        top: 10px;
      }
      .error {
        color: deeppink;
        transform: rotate(-7deg);
        transform-origin: bottom left;
        position: relative;
        left: 6px;
      }
      video,
      img {
        width: 100%;
        height: 375px;
        object-fit: cover;
        object-position: center top;
        margin: 60px 0 15px;
      }
    }
    .insta-post:first-of-type {
      display: block;
    }
    .links p a {
      font-weight: bold;
    }
  }
}
/* End Follow, Insta-Feed }}}*/

/* Contact Page {{{ */
#contact {
  justify-content: flex-start;
  main {
    .contact-data {
      padding-top: 15px;
      background: black;
      img {
        margin: 45px 0 0;
        width: 100%;
        height: 375px;
        object-fit: cover;
        object-position: center bottom;
      }
      address {
        font-size: 1.125em;
        font-style: normal;
        color: white;
        margin: 15px 30px 0;
      }
    }
  }
}
/* Contact Page }}}*/


/* Mobile-Landscape Styles {{{ */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  /* Kurzer Prozess, aka. Trick 77 */
  header, footer, div.description { display: none; }
}
/* End Mobile-Landscape Styles }}} */

@media (min-width: 767px) {

  body,
  body#about {
    height: 100vh; // flex-column-layout
    background: rgb(44, 44, 44);
  }

  /* Desktop Header {{{ */
  header {
    box-sizing: border-box;
    position: static;
    background: transparent;
    width: $desktop-width;
    margin: 0 auto;
    padding-top: 28px; // marquee
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  header #masthead {
    grid-column: 2/3;
    h1 {
      font-size: 1.75em;
      letter-spacing: 0.025em;
    }
  }
  header p {
    font-size: 1.3125em;
    word-spacing: -0.05em;
  }
  header nav {
    display: block; // einblenden
    grid-column: 3/-1;
    ul {
      display: flex;
      height: 100%;
      align-items: center; 
      justify-content: flex-end; // should be right, and header-width same as main
      li {
        margin-top: .5em;
        margin-left: 2em;
        font-size: 0.8125em;
      }
    }
  }
  header .simple-marquee-container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
  }
  body:not(#index) header {
    padding-top: 28px; // fehlenden marquee auffangen
    height: 140px;
  }
  /* Desktop Header }}} */

  /* Desktop Footer {{{ */
  footer {
    background: orange;
    padding-top: .5em;
    bottom: -120px;
    background: transparent;
  }
  footer:hover {
    bottom: 0px;
  }
  footer nav { display: none; }
  body:not(#index) footer { display: none; }
  /* End Desktop Footer }}} */

  /* Desktop Carousels Global {{{ */
  .about-carousel,
  .main-carousel {
    margin: auto; // centered in flex-column
    box-style: border-box;
    overflow: hidden;
    display: block;
    position: relative;
    width: $desktop-width;
    height: auto;
    .flickity-viewport { position: static; }
    .carousel-cell {
      background: black;
      width: $card-width;
      height: $card-height;
      margin-right: 20px;
    }
    .flickity-page-dots {
      position: static;
      background: transparent;
    }
  } 
  .flickity-prev-next-button.hidden { opacity: 0; }
  .flickity-prev-next-button {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .carousel-cell {
    background: black;
    width: $card-width;
    height: $card-height;
    margin-right: 20px;
  }
  .carousel-cell>img, 
  .carousel-cell video {
    position: static;
    object-fit: cover;
    width: auto;
  }
  .carousel-cell video {
    height: $card-height;
    width: $card-width
  }
  .carousel-cell video.square { object-position: center center; }
  .flickity-button { display: block; }
  .flickity-viewport { position: static; }
  .carousel-cell.is-selected .description {
    position: absolute;
    padding-bottom: 0;
  }
 /* Desktop Carousels Global }}} */

  /* Desktop Carousel Exceptions {{{ */
  .about-carousel .carousel-cell .name { bottom: 20px; }
  .main-carousel .carousel-cell div.description p {
    font-size: 1em;
    letter-spacing: 0.0125em;
    em { letter-spacing: 0.025em; }
  }
  .about-carousel #about-intro {
    padding: 15px 30px 0;
    p { }
    ul#team-list { }
  }
  /* End Desktop Carousel Exeptions }}} */

  /* Follow, Insta-Feed {{{ */
  #follow main {
    width: $desktop-width;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 20px;
    margin: auto;
    .insta-post {
      width: $card-width;
      height: $card-height;
      img, video {
        margin: 0 0 15px;
      }
    }
    section.links {
      grid-column: 1/-1;
      p.ext-links {
        margin: 0;
        padding: 0;
        text-align: left;
      }
    }
  }
  /* End Follow, Insta-Feed }}} */

  /* Contact Page {{{ */
  #contact main {
    width: $desktop-width;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    margin: auto;

    .contact-data {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      padding: 0;
      height: $card-height;
      img {
        margin: 0;
      }
    }
  }
  /* Contact Page }}}*/

  /* Archive Projects {{{ */
  footer #archive ul {
    overflow: visible;
    justify-content: center;
  }

  footer #archive ul li { margin-right: .5em; }
  footer #archive ul li img { height: 150px; }
  .archive-project-description {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: deeppink;
  }
  /* End Archive Projects }}} */

}

