/.env
/.idea
/vendor
.DS_Store
*.swp
*.swo
*.orig
/uploads
config/general.php

# Gulp related files
gulpfile.js
node_modules/
composer.lock
composer.json
storage/config-backups/
storage/composer-backups/
package-lock.json
package.json
