{#
  Footer, bzw. was am unteren Rand des Viewports steht.
  Auf der Index-Seite: Archiv-Projekte
  Auf Mobile: die Navigation
#}

<footer>

{% if slug == "index" %} {# Archiv nur sichtbar auf Index/Home #}

  <section id="archive">
    {% set archive = craft.entries().section('archive').all() %}

   <ul class="archive-carousel">
      {% for entry in archive %}
      <li class="archive-project archive-carousel-cell">
        <img
          src="{{ entry.archiveImg[0].getUrl('archiveThumb') }}"
          class="archive-thumb"
          alt="Beling Thoenen, {{ entry.title }}"
          height="{{ entry.archiveImg[0].getHeight('archiveThumb') // 2 }}"
          width="{{ entry.archiveImg[0].getWidth('archiveThumb') // 2 }}"
        >
      </li>
      {% endfor %}
    </ul> 

  </section>
{% endif %}

{% include 'includes/nav.html'  %}

</footer>

  {% if slug == "index" %} {# Archiv nur sichtbar auf Index/Home #}
  {% set archive = craft.entries().section('archive').all() %}
  <ul id="archive-descriptions" class="hidden">
    {% for entry in archive %}
      <li class="archive-project-description hidden">
        <img class="archive-image" src="{{ entry.archiveImg[0].url }}" alt="">
        <div class="archive-project-description-text">
          <p><strong>{{ entry.title }}</strong> {{ entry.description }}</p>
        </div>
        <img class="close" src="/assets/_pic/close.svg" alt="close icon">
      </li>
    {% endfor %}
    {% endif %}
    
  </ul>
