<footer>
  <section id="archive">
   <ul>
      <li><a href="#"><img src="./img/archive/wallis.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/gents.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/style2.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/si.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/joerg.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/style.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/landliebe.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/flasche.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/gm.jpg" alt=""></a></li>
      <li><a href="#"><img src="./img/archive/starticket.jpg" alt=""></a></li>
    </ul> 
  </section>

  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Follow</a></li>
      <li><a href="#">Contact</a></li>
    </ul> 
  </nav>
</footer>
