{#
  Header, bzw. was am oberen Rand steht.
  Desktop: mit Navigation
  Mobile: ohne Navigation
  Index/Home: Marquee
#}
<header>

{% set entry = craft.entries().section('home').one() %}
{% set marquee = entry.newsTicker %}


  {% if slug == "index" %}
  <div class="simple-marquee-container">
    <div id="news" class="marquee">
      <ul class="marquee-content-items">

      {% for newsTickerItem in marquee %}
        <li><strong>Coming Soon</strong> {{ newsTickerItem.text }}</li>
      {% endfor %}

      </ul>
    </div>
  </div>
  {% endif %}

  <section id="logo-test" style="grid-column: 1/2; justify-self: center; align-self: center;">
  </section>

  <section id="masthead">
    <a href="{{ siteUrl }}">
      <h1>Beling Thoenen</h1>
      <p class="byline">Content Driven Design</p>
      <img id="word-mark" src="/assets/_pic/word-mark.svg" alt="">
    </a>
  </section>

  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/follow">Follow</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

</header>
