{#
  Header, bzw. was am oberen Rand steht.
  Desktop: mit Navigation
  Mobile: ohne Navigation
  Index/Home: Marquee
#}
<header>

{% set entry = craft.entries().section('home').one() %}
{# Nov 26th: marquee changes from matrix to structure, possibly variable 'entry' obsolete now? #}

{% set marquee =  craft.entries().section('newsTicker').all() %}

  {% if slug == "index" and marquee|length %}
    {% set counter = 0  %}
    {% set remainingItems = marquee|length  %}
    {# Marquee, speed set in attributes #}
    <div class="simple-marquee-container marquee3k" data-speed="1.25">
      <ul class="marquee-content-items">
        

        {% for newsTickerItem in marquee %}
          {# ‘coming soon’ in front of 3 items, 2 allowed at end #}
          {% if ( counter % 3 == 0 ) and (remainingItems > 1) %}
            <li><strong>Coming Soon</strong></li>
          {% endif %}
          <li>{{ newsTickerItem.title }}</li>
          {% set counter = counter + 1 %}
          {% set remainingItems = remainingItems - 1 %}
        {% endfor %}

      </ul>
    </div>
  {% endif %}

  <p id="home-link-container"><a id="home-link" href="/">Projects</a></p>

  <section id="masthead">
    <a href="{{ siteUrl }}">
      <h1>Beling Thoenen</h1>
      <p class="byline">Content Driven Design</p>
			{% include 'includes/wordmark.html'  %}
    </a>
  </section>

  {% include 'includes/nav.html'  %}
</header>
