{# 404 #}
{% extends "_layout.html" %}
  
{% block content %}



  <main style="display: flex; flex-direction: column;">
    <section class="error404" style="margin: 0 auto auto;">
      <h2 style="color: white; margin-bottom: 1rem;">Fehler 404</h2>
      <p style="color: white; margin-bottom: 1rem;">Die gewünschte Seite existiert leider nicht.</p>
      <p class="back-home" style="color:white"><a href="/">Back Home</a></p>
    </section>
  </main>

  <script>
    console.log("404 not found");
  </script>
{% endblock %}
