{# Basic Structure #}
{% set slug = craft.app.request.segments|first ? craft.app.request.segments|first : 'index' %}{# auf welcher seite befinden wir uns? #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beling Thoenen</title>
  {% include 'includes/head.html'  %}
</head>
<body id="{{ slug }}"> {# index slug scheint "beling thoenen projects zu sein!? #}

  {% include 'includes/header.html'  %}
  {% include 'includes/footer.html' %}

  {% block content %}
    <p>If you see this, there is a malfunction in the templates and you should contact your Admin.</p>
  {% endblock %}

  <script>
    // Where is I?
    console.log('I & I is at {{ slug }}!'); 
  </script>
</body>
</html>
