{# Basic Structure #}
{% set slug = craft.request.firstSegment %}{# auf welcher seite befinden wir uns? #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beling Thoenen</title>
  {% include 'includes/head.html'  %}
</head>
<body id="{{ slug }}">

  {% include 'includes/header.html'  %}
  {% include 'includes/footer.html' %}

  {% block content %}
    <p>If you see this, there is a malfunction in the templates and you should contact your Admin.</p>
  {% endblock %}

  <!-- Where are we? -->
  <script>
    // Where is I?
    console.log('{{ slug }}');

    // Initialize Marquee
    $(function (){
      $('.simple-marquee-container').SimpleMarquee(
        {hover: false, duration: 40000}
      );
    });
  </script>
</body>
</html>
