{# Contact Page #}
{% extends "_layout.html" %}
  
{% block content %}
  <main>
    <section class="contact-data">

      <a href="https://www.google.com/maps/@47.3577094,8.5520014,3a,75y,165.5h,108.72t/data=!3m6!1e1!3m4!1sptVIbD5gkhxjrqwSlZ9Jng!2e0!7i13312!8i6656" target="_blank">
        <img src="/assets/_pic/map.png" alt="">
      </a>

      <address>
        Beling Thoenen Design GmbH<br>
        <a href="https://www.google.com/maps/@47.3577094,8.5520014,3a,75y,165.5h,108.72t/data=!3m6!1e1!3m4!1sptVIbD5gkhxjrqwSlZ9Jng!2e0!7i13312!8i6656" target="_blank">Lindenstrasse 26, CH-8008 Zürich</a><br>
        <a href="tel:+41443836993">+41 44 383 69 93</a><br>
        <a href="mailto:contact@belingthoenen.com">contact@belingthoenen.com</a><br>
      </address>

    </section>
  </main>
{% endblock %}
