{# Contact Page #}
{% extends "_layout.html" %}
  
{% block content %}
  <main>
    <section class="contact-data">

      <img src="/assets/_pic/map.png" alt="">

      <address>
        Beling Thoenen Design GmbH<br>
        <a href="https://www.google.com/maps/place/Beling+Thoenen+Design/@47.3577094,8.5520014,3a,75y,164.21h,90t/data=!3m7!1e1!3m5!1sptVIbD5gkhxjrqwSlZ9Jng!2e0!6s%2F%2Fgeo1.ggpht.com%2Fcbk%3Fpanoid%3DptVIbD5gkhxjrqwSlZ9Jng%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D86%26h%3D86%26yaw%3D164.20569%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656!4m5!3m4!1s0x479aa74fbb4fe6b9:0x98c28a7f1f80855!8m2!3d47.3575516!4d8.552069" target="_blank">Lindenstr.&#8198;26, CH-8008 Zürich</a><br>
        <a href="tel:+41443836993">+41 44 383 69 93</a><br>
        <a href="mailto:contact@belingthoenen.com">contact@belingthoenen.com</a><br>
      </address>

    </section>
  </main>
{% endblock %}
