{# Instagramm Feed #}
{% extends "_layout.html" %}
  
{% block content %}
<main>

  <section class="insta-post">
    <p class="date">XX. Month YYYY</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo …</p>
    <img src="/assets/_pic/insta_1.png" alt="">
    <p class="likes">xxx likes</p>
  </section>

  <section class="insta-post">
    <p class="date">XX. Month YYYY</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo …</p>
    <img src="/assets/_pic/insta_2.png" alt="">
    <p class="likes">xxx likes</p>
  </section>

  <section class="insta-post">
    <p class="date">XX. Month YYYY</p>
    <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo …</p>
    <img src="/assets/_pic/insta_3.png" alt="">
    <p class="likes">xxx likes</p>
  </section>

  <section class="link">
    <p class="ext-insta-link"><a target="_blank" href="https://www.instagram.com/belingthoenen/">on instagram</a></p>
    <p class="ext-facebook-link"><a target="_blank" href="https://www.facebook.com/Beling-Thoenen-Design-119797938071895/">on facebook</a></p>
  </section>
</main>
{% endblock %}
